# SENDATRACK credentials must only be configured as protected server secrets.
SENDATRACK_ACCOUNT_ID=
SENDATRACK_USER=
SENDATRACK_PASSWORD=
SENDATRACK_API_URL=http://backend2.sendatrack.com/sendatrack/public/api/
